<p>
  bacano works!
</p>

<div class="container">
  <div class="row">
    <button class="col-lg-6 col-md-6 col-sm-6 col-xs-6">庄</button>
    <button class="col-lg-6 col-md-6 col-sm-6 col-xs-6">闲</button>
  </div>
  <div class="row">
    <div><button class="col-lg-12 col-md-12 col-sm-12 col-xs-12">和</button></div>
  </div>
  <div class="row">
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">庄压：{{count}}</p>
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">闲压：</p>
    <p class="col-lg-4 col-md-4 col-sm-4 col-xs-4">和压：</p>
  </div>
</div>
<div>{{time}}</div>

<div></div>
